<div class="container-fluid h-100 login-container">
	<div class="row h-100 d-flex align-items-center">
		<div class="col-6 col-offset-3">
			<p-card styleClass="position-relative shadow">
				<ng-template pTemplate="title">
					<h1 class="fw-bold">Reset Password</h1>
				</ng-template>

				<form [formGroup]="resetPasswordForm">
					<div class="row">
						<div class="col-12">
							<label for="email" class="required">Email</label>
							<input id="email" formControlName="email" type="email" pInputText [required]="true" class="w-100" />
							<small *ngIf="resetPasswordForm.controls['email'].dirty && resetPasswordForm.controls['email'].hasError('required')" class="invalid-form-control">
								Email is required
							</small>
							<small
								*ngIf="resetPasswordForm.controls['email'].dirty && resetPasswordForm.controls['email'].hasError('maxlength')"
								class="invalid-form-control"
							>
								Email cannot be more than 50 characters
							</small>
							<small *ngIf="resetPasswordForm.controls['email'].dirty && resetPasswordForm.controls['email'].hasError('email')" class="invalid-form-control">
								Enter a valid email
							</small>
						</div>
						<div class="col-12">
							<label for="newPassword" class="required">New Password</label>
							<p-password
								id="newPassword"
								[toggleMask]="true"
								[feedback]="false"
								styleClass="w-100"
								inputStyleClass="w-100"
								formControlName="newPassword"
							></p-password>
							<small
								*ngIf="resetPasswordForm.controls['newPassword'].dirty && resetPasswordForm.controls['newPassword'].hasError('required')"
								class="invalid-form-control"
							>
								New Password is required
							</small>
							<small
								*ngIf="resetPasswordForm.controls['newPassword'].dirty && resetPasswordForm.controls['newPassword'].hasError('minlength')"
								class="invalid-form-control"
							>
								Enter a valid password
							</small>
						</div>
						<div class="col-12">
							<label for="reenterPassword" class="required">Re-enter Password</label>
							<p-password
								id="reenterPassword"
								[toggleMask]="true"
								[feedback]="false"
								styleClass="w-100"
								inputStyleClass="w-100"
								formControlName="reenterPassword"
							></p-password>
							<small
								*ngIf="resetPasswordForm.controls['reenterPassword'].dirty && resetPasswordForm.controls['reenterPassword'].hasError('required')"
								class="invalid-form-control"
							>
								Re-enter Password is required
							</small>
							<small *ngIf="resetPasswordForm.hasError('mismatch') && resetPasswordForm.controls['reenterPassword'].dirty" class="invalid-form-control">
								Passwords do not match
							</small>
						</div>
					</div>
				</form>

				<div class="d-flex flex-column align-items-center pt-4 justify-content-center">
					<p-button type="submit" severity="primary" (click)="onSubmit()" label="Reset Password"></p-button>
				</div>
			</p-card>
		</div>
	</div>
</div>
