<div class="container-fluid h-100 login-container">
	<div class="row h-100 d-flex align-items-center">
		<div class="col-md-6 col-xxl-4 offset-md-3 offset-xxl-4">
			<p-card styleClass="position-relative shadow">
				<ng-template pTemplate="title">
					<h1 class="fw-bold">Forgot Password</h1>
				</ng-template>
				<form [formGroup]="forgotPasswordForm">
					<div class="row">
						<div class="col-12">
							<label for="email" class="required">Email</label>
							<input id="email" formControlName="email" type="email" pInputText [required]="true" class="w-100" />
							<small
								*ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.controls['email'].hasError('required')"
								class="invalid-form-control"
							>
								Email is required
							</small>
							<small
								*ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.controls['email'].hasError('maxlength')"
								class="invalid-form-control"
							>
								Email cannot be more than 50 characters
							</small>
							<small *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.controls['email'].hasError('email')" class="invalid-form-control">
								Enter a valid email
							</small>
						</div>
					</div>
				</form>

				<div class="d-flex align-items-center pt-4 gap-3 justify-content-center">
					<p-button type="submit" severity="primary" (click)="onSubmit()" label="Send Reset Email"></p-button>
					<p-button label="Cancel" [link]="true" routerLink="/login" />
				</div>
			</p-card>
		</div>
	</div>
</div>
