.messages-container {
	display: flex;
	flex-direction: column;
	.row.messages-row {
		flex: 0 1 auto;
	}

	.row.textbox-row {
		flex: 1 1 auto;
	}

	.messages-wrapper {
		// background: aliceblue;
		.sender {
			.message-box {
				background: oldlace;
			}
		}

		.receiver {
			.message-box {
				background: deepskyblue;
			}
		}
	}
}
